<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.fencelive.model.entity.UserRole" />
        <mapping class="com.fencelive.model.entity.UserInfo" />
        <mapping class="com.fencelive.model.entity.Tournament" />
        <mapping class="com.fencelive.model.entity.Fencer" />
        <mapping class="com.fencelive.model.entity.List" />
        <mapping class="com.fencelive.model.entity.TournamentFencers" />
        <mapping class="com.fencelive.model.entity.Category" />
        <mapping class="com.fencelive.model.entity.GroupFencers" />
        <mapping class="com.fencelive.model.entity.GroupFights" />
        <mapping class="com.fencelive.model.entity.TournamentGroupClassList" />
        <mapping class="com.fencelive.model.entity.TournamentGroups" />
        <mapping class="com.fencelive.model.entity.TournamentTableauFights" />
        <mapping class="com.fencelive.model.entity.TournamentFinalClassList" />
    </session-factory>
</hibernate-configuration>