body, html {
    background-color: white;
    position: relative;
    height: 100%;
    width: 100%;
}

p {
    font-size: 110%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-wrapper {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-padding {
    padding-left:0;
    padding-right:0;
}

.small-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.no-margin-left {
    margin-left: 0px !important;
}

.no-margin-right {
    margin-right: 0px !important;
}

.bottom-spacer {
    margin-bottom: 30px;
}

.header-row {
    margin-bottom: 100px;
}

.header-row-medium {
    margin-bottom: 50px;
}

.header-row-small {
    margin-bottom: 20px;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

/* Forms */

.newArticle input, textarea{
    padding: 5px;
    margin-top: 20px;
    width: 100%;
}

.titleInput {
    height: 50px;
}

.contentInput {
    height: 400px !important;
}

.tournament-fencers-search {
    margin-top: 20px;
}

/* Tables */

.fixed-table {
    width: 90%;
    height: 400px;

    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;

    -webkit-box-shadow: 0px 19px 14px -7px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 19px 14px -7px rgba(0,0,0,0.71);
    box-shadow: 0px 19px 14px -7px rgba(0,0,0,0.71);
}

.fixed-table td {
    min-height: 40px;
}

.fixed-table th {
    height: 40px;
}

/* Group tables */

td.score-cell,
th.score-cell,
.score-cell input {
    width: 35px;
    height: 35px;
    text-align: center;
}

td.name-cell,
th.name-cell {
    width: 200px;
    height: 35px;
    padding-left: 2px;
    padding-right: 2px;
}

td.club-cell,
th.club-cell {
    width: 230px;
    height: 35px;
    padding-left: 2px;
    padding-right: 2px;
}

td.country-cell,
th.country-cell {
    width: 40px;
    height: 35px;
    padding-left: 2px;
    padding-right: 2px;
}

/* Tableau fights table */

td.fencer-cell,
th.fencer-cell {
    width: 50%;
}

td.result-cell,
th.result-cell {
    width: 60px;
    height: 35px;
    padding-left: 2px;
    padding-right: 2px;
}

/* Tab-pane panel */

.panel_window {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 82vh;

    -webkit-box-shadow: 0px 6px 34px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 34px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 34px -1px rgba(0,0,0,0.75);
}

/* Containers */

.fencers-table {
    height: 65vh;
    overflow-y: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.tournament-fencers-table {
    height: 55vh;
    overflow-y: auto;
    margin-bottom: 30px;
    margin-top: 15px;
}

.tournament-groups-table {
    height: 62vh;
    overflow-y: auto;
    margin-bottom: 30px;
    margin-top: 15px;
}

.tournament {
    max-height: 100%;
}

/* Buttons */

.button-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    margin-top: 50px;
}

.button-box-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-box-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fencers .btn {
    width: 150px !important;
}

.tournament-form label {
    text-align: left !important;
}

.tournament-form select {
    -webkit-appearance: menulist-button;
    height: 34px;
}